Imports

In [20]:
import requests
import pandas as pd
import time

In [ ]:
TMDB_API_KEY = "KEY"
BASE_URL = "https://api.themoviedb.org/3"
url = BASE_URL + "/search/movie"
params = {
    "api_key": TMDB_API_KEY,
    "query": "Dune",
    "language": "de-DE",
    "page": 1
}
response = requests.get(url, params=params, timeout=10)
response.status_code

200

turning response in data

In [22]:
data = response.json()
type(data), data.keys()
results = data["results"]

In [24]:
df = pd.DataFrame(results)
df.head
df.head()

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
0,False,/wYMbnrdRCREjNLwFlG5SLWzBjui.jpg,"[878, 12]",438631,en,Dune,„Dune“ erzählt die packende Geschichte des bri...,20.3448,/34Hr4bEzF30jd6sEvI4HihEUEI8.jpg,2021-09-15,Dune,False,7.778,14484
1,False,/5wJ2tckpvwcxGCAgZiccodwEJpf.jpg,"[28, 878, 12]",841,en,Dune,Es ist das Jahr 10191. Das Weltall ist von den...,5.6142,/fbcVuCCP7F0ZYU7Saj0ZQNYDm5P.jpg,1984-12-14,Der Wüstenplanet,False,6.180,3346
2,False,NaN,"[16, 9648, 53]",697620,hu,Dűne,,0.4786,/CecUPdnnP22wV1NoRFQaG231zj.jpg,2020-06-15,Dűne,False,7.392,37
3,False,/ylkdrn23p3gQcHx7ukIfuy2CkTE.jpg,"[878, 12]",693134,en,Dune: Part Two,Paul Atreides begibt sich mithilfe von Chani u...,24.4204,/zYLP7Uiqz6XqoiQLAu4XQ6DRUMz.jpg,2024-02-27,Dune: Part Two,False,8.130,7554
4,False,/sM42bpH73dmf3kJrE8xr4kztYqR.jpg,"[878, 12, 9648]",70981,en,Prometheus,Wir schreiben das späte 21. Jahrhundert. Übera...,14.8162,/2xNRe3DXBXEHIr51oc2FsWOyIlJ.jpg,2012-05-30,Prometheus - Dunkle Zeichen,False,6.591,13053